<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Tentang Aplikasi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item-divider>
    <ion-label>
      Informasi Dasar
    </ion-label>
  </ion-item-divider>
  <ion-item lines="full">
    <ion-label>Nama Aplikasi</ion-label>
    <ion-note>Loonri POS</ion-note>
  </ion-item>
  <ion-item lines="full">
    <ion-label>Versi</ion-label>
    <ion-note>1.0.0</ion-note>
  </ion-item>
  <ion-item lines="full">
    <ion-label>Edisi</ion-label>
    <ion-note>Komunitas</ion-note>
  </ion-item>
  <ion-item lines="full">
    <ion-label>Jenis</ion-label>
    <ion-note>Aplikasi Bisnis</ion-note>
  </ion-item>
  <ion-item-divider>
    <ion-label>
      Pengembang
    </ion-label>
  </ion-item-divider>
  <ion-item lines="full">
    <ion-label>Nama</ion-label>
    <ion-note>Yanwar Solahudin</ion-note>
  </ion-item>
  <ion-item lines="full">
    <ion-label>Email</ion-label>
    <ion-note>yanwarsolah@gmail.com</ion-note>
  </ion-item>
  
  <ion-item-divider>
    <ion-label>
      Legalitas
    </ion-label>
  </ion-item-divider>
  <ion-item lines="full">
    <ion-label>Lisensi</ion-label>
    <ion-note>MIT License</ion-note>
  </ion-item>

  <ion-item-divider>
    <ion-label>
      Stack Technology
    </ion-label>
  </ion-item-divider>
  <ion-item lines="full">
    <ion-label>Django</ion-label>
    <ion-note>3.0.5</ion-note>
  </ion-item>
  <ion-item lines="full">
    <ion-label>Ionic (Ionic CLI)</ion-label>
    <ion-note>4.3.1</ion-note>
  </ion-item>
  <ion-item lines="full">
    <ion-label>Python</ion-label>
    <ion-note>3.6.8</ion-note>
  </ion-item>
  <ion-item lines="full">
    <ion-label>Angular</ion-label>
    <ion-note>9.1.6</ion-note>
  </ion-item>
  <ion-item lines="full">
    <ion-label>Android API</ion-label>
    <ion-note>Oreo 8.0 - API 27</ion-note>
  </ion-item>
</ion-content>
