<ion-content color="light">
  <div class="card-center">
    <ion-card>
      <ion-card-header color="primary">
        <ion-card-subtitle>Loonri</ion-card-subtitle>
        <ion-card-title>Sign In</ion-card-title>
      </ion-card-header>
      <ion-item lines="full">
        <ion-icon slot="start" name="person-circle-outline"></ion-icon>
        <ion-label position="floating">Username</ion-label>
        <ion-input size="large" [(ngModel)]="user.username" placeholder="Enter username"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
        <ion-label position="floating">Password</ion-label>
        <ion-input [(ngModel)]="user.password" placeholder="Enter password" type="password"></ion-input>
      </ion-item>
      <ion-card-content>
        <ion-button expand="block" (click)="signIn()">Sign In Now</ion-button>
        <br>
        <ion-text color="medium">
          Jika Anda belum mendaftar, silahkan
          <a [routerLink]="['/register']">Sign Up</a> untuk 
          menggunkaan aplikasi ini.
        </ion-text>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>