<ion-header>
  <ion-toolbar *ngIf="!searchBar" color="primary">
    <ion-title>Etalase</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showSearchBar()">
        <ion-icon size="small" slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button (click)="showSearchBar()">
        <ion-icon size="small" slot="icon-only" name="barcode"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="searchBar" color="primary">
    <ion-searchbar showCancelButton="always" (ionCancel)="cancelSearchBar()" animated></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="inset">
    <ion-item lines="full" *ngFor="let i of [1,2,3,4,5,6,7,8]">
      <ion-label class="ion-text-wrap">
        <ion-text>
          <h2>Baju Biasa {{ i }}</h2>
        </ion-text>
        <ion-text color="dark">
          <p>BRG-000{{ i }} Rp. 34.000/pcs</p>
        </ion-text>
      </ion-label>
      <ion-button (click)="test()" size="small" color="primary" slot="end">
        Pilih
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
