<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Username</ion-label>
    <ion-input [(ngModel)]="userRegister.username" placeholder="Enter username"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Email</ion-label>
    <ion-input type="email" [(ngModel)]="userRegister.email" placeholder="Enter email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Password</ion-label>
    <ion-input type="password" [(ngModel)]="userRegister.password" placeholder="Enter password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-button (click)="register()">Register
    </ion-button>
  </ion-item>
</ion-content>
