<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Daftar Keranjang</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider color="light">
    <ion-icon slot="start" name="receipt-outline"></ion-icon>
    <ion-label>
      Jumlah Pembayaran
    </ion-label>
  </ion-item-divider>   
  <app-cart-summary></app-cart-summary>  
  <ion-list>
    <ion-item-divider color="light">
      <ion-icon slot="start" name="basket-outline"></ion-icon>
      <ion-label>
        Daftar Layanan Terpilih
      </ion-label>
    </ion-item-divider>    
    <ion-item-sliding *ngFor="let cart of carts.results">
      <ion-item lines="full" >
        <ion-label>
          <h2>{{ cart.name }}</h2>
          <p>Rp. {{ cart.price }} x {{ cart.quantity }} {{ cart.unit }}</p>
        </ion-label>
        <ion-text slot="end">
          <strong>Rp. {{ cart.total }}</strong>
        </ion-text>
      </ion-item>
  
      <ion-item-options side="end">
        <ion-item-option [routerLink]="['/cart-edit', cart.id]">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/acceptance-create']">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
